name: build
on:
  push:
    branches:
      - 'master'
    tags:
      - '*'
  pull_request:
env:
  OPERATOR_SDK_VERSION: "v1.31.0"
jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          cache: false
          go-version-file: 'go.mod'

      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Test and build image
        run: |
          make test docker-build

      - uses: codecov/codecov-action@v3

      - name: Push to GitHub Packages
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login https://ghcr.io -u ${GITHUB_ACTOR} --password-stdin
          make docker-push-ghcr

  e2e:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        k8s: [ "v1.26.6", "v1.28.0" ]
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          cache: false
          go-version-file: 'go.mod'

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.8.0
        with:
          node_image: kindest/node:${{ matrix.k8s }}

      - name: e2e test
        run: |
          # https://github.com/kubernetes-sigs/kustomize/issues/2867
          kustomize version
          sudo rm $(which kustomize)

          kubectl get nodes -o wide

          make load-kind-image install deploy

          sleep 10s
          kubectl -n garo-system describe pod
          make uninstall

  publish:
    needs: e2e
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          cache: false
          go-version-file: 'go.mod'

      - name: bundle
        if: true == false
        run: |
          sudo curl -Lo /usr/local/bin/operator-sdk https://github.com/operator-framework/operator-sdk/releases/download/${OPERATOR_SDK_VERSION}/operator-sdk_linux_amd64
          sudo chmod a+x /usr/local/bin/operator-sdk
          make bundle bundle-build

      - name: Login to Quay
        if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags')
        uses: azure/docker-login@v1
        with:
          login-server: 'quay.io'
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Publish to Registry
        if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags')
        run: |
          make docker-push
