name: build
on:
  push:
    branches:
      - '*'
    tags:
      - '*'
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - uses: franzdiebold/github-env-vars-action@v1.2.0
      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-go@v2
        with:
          go-version: '1.14'
      - name: Install operator SDK
        run: |
          sudo curl -Lo /usr/local/bin/operator-sdk https://github.com/operator-framework/operator-sdk/releases/download/${RELEASE_VERSION}/operator-sdk-${RELEASE_VERSION}-x86_64-linux-gnu
          sudo chmod a+x /usr/local/bin/operator-sdk
        env:
          RELEASE_VERSION: v0.19.0
      - name: test
        run: |
          make test
      - name: build
        run: |
          operator-sdk build garo:latest
      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.0.0-rc.1
        with:
          node_image: kindest/node:v1.17.5
      - name: e2e test
        run: |
          kubectl create ns operator-test
          operator-sdk test local ./test/e2e/ --up-local --operator-namespace operator-test --verbose
      - name: Install operator
        run: |
          # must force since we're off with the k8s version
          kubectl apply -f deploy/crds/garo.tietoevry.com_githubactionrunners_crd.yaml --validate=false
          kubectl apply -f deploy/
      - name: Login to Quay
        if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags')
        uses: azure/docker-login@v1
        with:
          login-server: 'quay.io'
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}
      - name: Publish to Registry
        if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags')
        run: |
          docker tag garo:latest quay.io/evryfs/github-actions-runner-operator:${GITHUB_REF_NAME}
          docker tag garo:latest quay.io/evryfs/github-actions-runner-operator:${GITHUB_SHA_SHORT}
          docker push quay.io/evryfs/github-actions-runner-operator
