name: build
on:
  push:
    branches:
      - '*'
    tags:
      - '*'
  pull_request:
env:
  KUBE_BUILDER_VERSION: "2.3.1"
  OPERATOR_SDK_VERSION: "v1.0.0"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: franzdiebold/github-env-vars-action@v1.2.1

      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-go@v2
        with:
          go-version: '1.15.2'

      - name: Setup env
        run: |
          sudo curl -Lo /usr/local/bin/operator-sdk https://github.com/operator-framework/operator-sdk/releases/download/${OPERATOR_SDK_VERSION}/operator-sdk-${OPERATOR_SDK_VERSION}-x86_64-linux-gnu
          sudo chmod a+x /usr/local/bin/operator-sdk
          sudo curl -Lo- https://github.com/kubernetes-sigs/kubebuilder/releases/download/v${KUBE_BUILDER_VERSION}/kubebuilder_${KUBE_BUILDER_VERSION}_linux_amd64.tar.gz | tar xzv -C /tmp -f -
          echo "::set-env name=KUBEBUILDER_ASSETS::/tmp/kubebuilder_${KUBE_BUILDER_VERSION}_linux_amd64/bin"
          echo "::set-env name=IMG::quay.io/evryfs/github-actions-runner-operator:$(git describe --tags --always)"

      - name: Test
        run: |
          make test

      - uses: codecov/codecov-action@v1

  e2e:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        k8s: [ "v1.13.12", "v1.17.5", "v1.19.0" ]
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - uses: actions/checkout@v2
      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.0.0
        with:
          node_image: kindest/node:${{ matrix.k8s }}

      - name: e2e test
        run: |
          # https://github.com/kubernetes-sigs/kustomize/issues/2867
          kustomize version
          sudo rm $(which kustomize)

          kubectl get nodes -o wide
          make docker-build
          kind load docker-image controller:latest --name chart-testing

          make install deploy

          sleep 10s
          kubectl -n garo-system describe pod
          make uninstall

  publish:
    needs: e2e
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Login to Quay
        if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags')
        uses: azure/docker-login@v1
        with:
          login-server: 'quay.io'
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Publish to Registry
        if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags')
        run: |
          make docker-push
